    body {}
    
    .title-container {
        text-align: center;
    }
    
    .image-container {
        display: flex;
        position: relative;
        justify-content: center;
    }
    
    .logo-image {
        border: 5px solid #674f9f27;
        border-radius: 50px;
        margin: 20px;
        width: 350px;
        height: 350px;
    }
    
    .name-badge {
        position: absolute;
        bottom: 29px;
        margin-left: 50px;
        border: 2px solid #9f4f4f;
        background-color: #9f4f4f;
        color: white;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 30px;
        font-weight: bold;
    }
    
    .meeting-preview {
        margin-top: 100px;
        border: 2px solid #838383;
    }
    
    .meeting-name {
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    h1 {
        font-size: 120px;
        background: linear-gradient(45deg, #dab71a, #4c00ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        letter-spacing: 8px;
    }
    
    h2 {
        font-size: 30px;
        color: #4f5a9f;
        margin-top: -80px;
    }
    
    p {
        font-size: 30px;
        text-align: center;
        margin: 100px 300px;
        color: #000000;
    }